@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

body{
    background-color: #94B49F;
}

.container{
    margin: 20px auto;
    background-color: #FCF8E8;
    width: 600px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    padding: 20px 80px;
    align-items: center;
}

#container_box{
    background-color: white;
    display: grid;
    width: 520px;
    height: 520px;
    border: 4px solid black;
    border-radius: 10px;
}


.box{
    border: 1px solid black;
}

.container_options{
    width: 520px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.grid_value_container{
    max-width: 100px;
}
.color_options{
    display: flex;
    flex-direction: row;
}

.color_button{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #94B49F;
    cursor: pointer;
}

#grid_value{
    width: 80px;
}

#apply{
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}